
h1 {
  text-align: right;
}

h2,
h3 {
  text-align: center;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #001b44;
}

label, p {
  font-size: 30px;
}

.card {
  display: block;
  background-color:	#fffffe;
  border: 5px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 60px auto;
  padding: 20px;
  width: 80vw;
}
